// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$primary-color: #263453;
$secondary-color: #c5ca3d;
$third-color: rgb(33,162,186);
$white: #fff;

//GENERALES
@mixin transition($x...){
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

/*NUEVO LAYOUT*/
body, html{
    height: 100%;
    background-color: rgb(245,245,255);
}

header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
}
#modern{
    width: 100%;

    .main-content{
        padding: 25px;

        &.page-login{
            padding: 0;
        }
        &.page-admin{

            th:first-child{
                color: $third-color;
            }
        }

        &>.container{

            &>.row.justify-content-center{
                padding: 15px 25px;
                background-color: #fff;

                table, thead th{
                    color: #606060;
                }

                .company-logo{
                    max-width: 200px;
                }
            }
        }
        &>.container-form{
            background-color: #fff;
            padding: 15px 25px;
            margin-top: 20px;
            min-height: inherit;

            label{
                color: $third-color;
            }
        }
    }

    .btn-outline-info {
        color: $third-color;
        border-color: $third-color;
    }
    .page-link{
        color: $third-color;
    }
}
.color-primary{
    color: $primary-color !important;
}
.color-secondary{
    color: $secondary-color !important;
}
.color-third{
    color: $third-color !important;
}
#modern .container,#modern .container-fluid{
    min-height: 100vh;
    max-height: 100%;
}

.col-welcome-brand{

}

.col-welcome-login{
    background-color: $primary-color;
    box-shadow: -5px 2px 9px 2px rgba(0,0,0,0.5);
}

.flex-fill {
    flex:1;
}



/*SIDEBAR*/
#sidebar {

    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    min-width: 250px;
    max-width: 250px;
    background: $primary-color;
    color: #fff;
    transition: all 0.3s;
    z-index: 8;
    min-height: 100vh;

    ul li a {
        text-align: left;
    }

    &.active{
        min-width: 80px;
        max-width: 80px;
        text-align: center;

        .sidebar-header h3,
        .CTAs,
        .logo-complete{
            display: none;
        }
        .sidebar-header strong,
        .sidebar-header .logo-partial {
            display: inherit;
        }
        ul li a {
            padding: 20px 5px;
            text-align: center;
            font-size: 0.8em;
        }
        ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }
        ul ul a {
            padding: 10px !important;
        }
        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
    }

    .sidebar-header {
        padding: 30px 5px;
        background: $secondary-color;
        text-align: center;
        display: block;

        .logo-thales{
            width: 100%;
            max-width: 120px;
        }
    }
    .sidebar-header strong, .sidebar-header .logo-partial {
        display: none;
        font-size: 1.8em;
    }
    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
        background-color: #263453;
        margin-bottom: 0;
    }
    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    ul li a:hover {
        color: $primary-color;
        background: #fff;
    }
    ul li a i {
        margin-right: 10px;
    }
    ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: $third-color;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.8em !important;
        padding-left: 30px !important;
        background: $third-color;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: $primary-color;
    }

    a.article,
    a.article:hover {
        background: $third-color !important;
        color: #fff !important;
    }

    /*---*/
    ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: $third-color;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: $third-color;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: $primary-color;
    }

    a.article,
    a.article:hover {
        background: $third-color !important;
        color: #fff !important;
    }
    /*---*/

}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs ,
    #sidebar .logo-complete {
        display: none;
    }
    #sidebar .sidebar-header strong,
    #sidebar .sidebar-header .logo-partial {
        display: inherit;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/*SIDEBAR*/
#sidebarCollapse{
    border-radius: 0;
    position: absolute;
    top:0;
}

.logo-welcome{
    max-width: 80%;
}
.welcome-msg-inn{
    padding: 20vh 15vw;
    background-color: #fff;
}
.welcome-msg-txt{
    color: rgb(111,111,111);
    padding-top: 25px;
    font-size: calc(9px + 1.5vw);
}
.head-page{
    background-color: #fff;
    margin-bottom: 25px;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;

    .title-row{

        h1{
            color: rgb(96,96,96);
            font-size: 20px;
        }
    }

    .form-search-villamares{


        label{
            color: $third-color;
            font-weight: bold;
        }
    }
}
.fa-title{
    color: $secondary-color;
}
.page-item.active .page-link {
    background-color: #c5ca3d;
    border-color: #c5ca3d;
    color: #fff !important;
}
/*NUEVO LAYOUT*/

.navbar-custom {
    background-color: #fff;
    box-shadow: -3px 1px 4px 2px rgba(0, 0, 0, 0.5);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
/* change the brand and text color */
.navbar-custom .navbar-brand img{
    width: 100px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #555 !important;
}
/* change the color of active or hovered links */
.navbar-custom .nav-link.active ,
.navbar-custom .nav-link:focus,
.navbar-custom .nav-link:hover {
    color: #ddd;
}

.navbar-custom .dropdown-menu {
    background-color: #fff;
}

.navbar-custom .dropdown-menu .dropdown-item{
    color: #555;
}

.navbar-custom .dropdown-item:hover,.navbar-custom  .dropdown-item:focus{
    background-color: #ddd;
}

.btn-visyttex{
    background-color: #1ab096;
    color: #fff;
}
.btn-thales-primary{
    background-color: $primary-color;
    color: $white;
}
.btn-thales-secondary{
    background-color: $secondary-color;
    color: $white;
}
.link-white{
    color: $white;
}
select.form-control:disabled, select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background-color: #fff;
    border: none;
    padding: 0;
}

.table-hover tr:hover select.form-control:disabled, .table-hover tr:hover select[disabled] {
    background-color: #eaeaeb;
}
//END GENERALES

.customer-admin{

    .company-logo{
        min-width: 100px;
        max-width: 350px;
    }
}
.comma-separated-wrapp{
    display: inline-block;

    &:last-child{
        .comma-separated:last-child{
            display: none;
        }
    }
}
.table-row-subcategory{
    background-color: $third-color;
    color: #fff;
}
a.deleteDocument{
    color: rgb(237, 26, 0);
    text-decoration: none;
}

.btn-add-icon{
    width: 28px;
    padding: 3px;
    height: 28px;
}
.count-approve{
    font-weight: bold;
    font-size: 12px;
}
